*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	font-family: '微软雅黑';
	font-size: 16px;
}
a:hover{
	text-decoration: none;
}
.clearfix::before{
	content: '';
	display: block;
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
	font-size: 0;
	line-height: 0;
}
.my-container-fluid{
	background: #222;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	opacity: 0.9;
}
#navbar-inverse{
	border: none;
	margin-bottom: 0;
}
.my-list-link{
	display: block;
	width: 100%;
	height: 100%;
}
#my-jumbotron{
	height: 670px;
	background: url(../images/bg-1.jpg) no-repeat center center;
	background-size: cover;
	margin-bottom: 0;
}
.down{
	position: absolute;
	left: 50%;
	bottom: 28px;
	margin-left: -38px;
	-webkit-transition: bottom 0.3s ease;
	transition: bottom 0.5s ease;
}
.down:hover{
	bottom: 18px;
}
.aboutme{
	background: #888;
	padding-top: 50px;
	position: relative;
	min-height: 600px;
}
.aboutme>.omy{
	color: #ff7257;
	position: absolute;
	left: 0;
	top: -20px;
	width: 35%;
}
.float{
	width: 25%;
	opacity: 0.2;
	position: absolute;
	left: 0;
	top: 0;
}
.aboutme>h4,.project>h4{
	width: 70%;
	border-bottom: 1px solid #fff;
	margin-left: 30%;
	color: rgba(255,255,255,0.9);
	padding: 5px 0;
}
.aboutme>h4>span{
	font-weight: 100;
	font-size: 16px;
}
.aboutme>h5{
	padding-top: 200px;
}
.aboutme>.next{
	width: 0;
	height: 0;
	border-top: 20px solid #888;
	border-left: 20px solid rgba(255,255,255,0);
	border-right: 20px solid rgba(255,255,255,0);
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -10px;
	z-index: 99;
}
#my-skill{
	height: 670px;
	background: url(../images/bg-2.jpg) no-repeat center center;
	background-size: cover;
	margin-bottom: 0;
	margin-top: -10px;
	position: relative;
}
.project{
	background: #ff7257;
	padding-top: 50px;
	position: relative;
	min-height: 600px;
	overflow: hidden;
}
.project>.next{
	width: 0;
	height: 0;
	border-top: 20px solid #ff7357;
	border-left: 20px solid rgba(255,255,255,0);
	border-right: 20px solid rgba(255,255,255,0);
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -10px;
	z-index: 99;
}
.project>.left,.project>.right{
	position: absolute;
	width: 70px;
	height: 80px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-transition: background-color 0.8s ease;
	transition: background-color 0.8s ease;
	z-index: 99;
}
.project>.left{
	top: 230px;
	left: 100px;
	background: rgba(0,0,0,0.2) url(../images/left.png) no-repeat center center;
	background-size: 50px;
}
.project>.left:hover{
	background-color: rgba(0,0,0,0.4);
}
.project>.right:hover{
	background-color: rgba(0,0,0,0.4);
}
.project>.right{
	top: 230px;
	right: 70px;
	background: rgba(0,0,0,0.2) url(../images/right.png) no-repeat center center;
	background-size: 50px;
}
.myproject{
	width: 100%;
	height: 300px;
	position: relative;
	perspective: 500px;
	margin-top: 50px;
	margin-left: 25px;
}
.myproject li{
	width: 180px;
	height: 130px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid #ddd;
	background-color: #fff;
}
.myproject li a{
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition: background 0.5s ease;
	transition: background 0.8s ease;
	position: relative;
}
.myproject li a:hover{
	opacity: 0.8;
}
#_3dl4{
	top: 60px;
	left: 20%;
	margin-left: -100px;
	z-index: 1;
}
#item4{
	background: url(../images/youzhan.jpg) no-repeat center center;
	background-size: cover;
}
#_3dl5{
	top: 65px;
	left: 30%;
	margin-left: -100px;
	transform: translateZ(80px);
	z-index: 2;
}
#item5{
	background: url(../images/QQmusic.jpg) no-repeat center center;
	background-size: cover;
}
#_3dl6{
	top: 70px;
	left: 40%;
	margin-left: -100px;
	transform: translateZ(160px);
	z-index: 3;
}
#item6{
	background: url(../images/flappybird.jpg) no-repeat center center;
	background-size: cover;
}
#_3dl7{
	top: 75px;
	left: 50%;
	margin-left: -100px;
	transform: translateZ(240px);
	z-index: 4;
}
#item7{
	background: url(../images/five.jpg) no-repeat center center;
	background-size: cover;
}
#_3dl8{
	top: 70px;
	left: 60%;
	margin-left: -100px;
	transform: translateZ(160px);
	z-index: 3;
}
#item8{
	background: url(../images/icloud.png) no-repeat center center;
	background-size: cover;
}
#_3dl9{
	top: 65px;
	left: 70%;
	margin-left: -100px;
	transform: translateZ(80px);
	z-index: 2;
}
#item9{
	background: url(../images/sketch.jpg) no-repeat center center;
	background-size: cover;
}
#_3dl10{
	top: 60px;
	left: 80%;
	margin-left: -100px;
	z-index: 1;
}
#item10{
	background: url(../images/snake.png) no-repeat center center;
	background-size: cover;
}
#_3dl1,#_3dl2,#_3dl3,#_3dl11,#_3dl12{
	top: 75px;
	left: 50%;
	margin-left: -100px;
}
#item1{
	background: url(../images/xiaomi.gif) no-repeat center center;
	background-size: cover;
}
#item2{
	background: url(../images/tm.jpg) no-repeat center center;
	background-size: cover;
}
#item3{
	background: url(../images/no1.png) no-repeat center center;
	background-size: cover;
}
#item11{
	background: url(../images/block.jpg) no-repeat center center;
	background-size: cover;
}
#item12{
	background: url(../images/apple.jpg) no-repeat center center;
	background-size: cover;
}